doctype html
html
    head
        title Rage Kafka Traces Persister
        base(href='#{basePath}')
    body
        .row
            t1 Rage Kafka Traces Persister
        .row
            p This module is connected to a kafka topic to save the input data in files
